header {
    text-align: center;
    margin: 3rem 0;
  }
  
  /* header img {
    height: 5rem;
    width: 10rem;
    object-fit: cover;
  } */
  
  header h1 {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* font-style: normal; */
    font-size: 5rem;
    background: #D4A373;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5)); */
  }
  
  header p {
    margin: 0;
    font-size: 1rem;
    /* color: #8964b0; */
    font-family: "Roboto Condensed", sans-serif;
  }

