* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: black;
  /* background: radial-gradient(#280a48, #20043d); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}


main {
  width: 90%;
  max-width: 60rem;
  margin: auto;
}

#about-me {
  padding: 2rem;
  border-radius: 6px;
  background-color: #FAEDCD;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

main h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 3rem;
  margin: 0 0 1.5rem 0;
  color: #D4A373;
}

#about-me ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#about-me li {
  width: 10rem;
  text-align: center;
}

#about-me li img {
  height: 4rem;
  width: 6rem;
  object-fit: contain;
}

#about-me li h3 {
  margin: 0.5rem 0;
}

#about-me li p {
  font-size: 0.9rem;
}